<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868493357752-qpp7ev07udjic29hcmhfvc9g77mndn3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868493357752-qpp7ev07udjic29hcmhfvc9g77mndn3i</string>
	<key>API_KEY</key>
	<string>AIzaSyB8mwsjnnRuiF0WUZUUnDX4-ak39BLhzlY</string>
	<key>GCM_SENDER_ID</key>
	<string>868493357752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hello.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-afe96</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-afe96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868493357752:ios:8b12e1feab62f7b286fa4d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-afe96.firebaseio.com</string>
</dict>
</plist>